<!DOCTYPE html>
<html>

<head>
    <title>Xác nhận đăng ký tài khoản</title>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial, sans-serif;">

    <table style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px;">
        <tr>
            <td style="text-align: center;">
                <h2 style="color: #333;">Tài khoản được tạo bởi admin Nice Job</h2>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <p>Xin chào {{receiver}},</p>
                <p>
                    Cảm ơn bạn đã liên hệ để đăng ký tài khoản tại Nice Job.
                    Chúng tôi đã tạo cho bạn một tài khoản với tên đăng nhập là:
                <p style="font-size: 24px; font-weight: bold; color: #007bff;">{{receiver}}</p>
                và mật khẩu là:
                <p style="font-size: 24px; font-weight: bold; color: #007bff;">{{password}}</p>
                </p>
                <p>Để bảo vệ tài khoản của mình bạn nên thay đổi mật khẩu, đó là một bước quan trọng để bảo vệ tài khoản
                    của bạn.</p>
                <p>Nếu bạn không thực hiện yêu cầu này, xin vui lòng bỏ qua email này.</p>
                <p>Xin cảm ơn,</p>
                <p>Nice App Team</p>
            </td>
        </tr>
    </table>

</body>

</html>