<!DOCTYPE html>
<html>

<head>
    <title>Cảm ơn bạn đã liên hệ</title>
    <meta charset="UTF-8">
</head>

<body style="font-family: Arial, sans-serif;">
    <table style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f5f5f5;">
        <tr>
            <td align="center">
                <table style="background-color: white; border-radius: 5px; padding: 20px; margin-bottom: 20px;">
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center; font-size: 24px; font-weight: bold;">Cảm ơn bạn đã liên hệ
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: left;">
                                <p style="font-size: 16px;">Xin chào {{name}},</p>
                                <p style="font-size: 16px;">Chúng tôi đã nhận được thông tin liên hệ của bạn và sẽ tiếp
                                    tục xử lý trong thời gian sớm nhất. Cảm ơn bạn đã quan tâm và liên hệ với chúng tôi.
                                </p>
                                <p style="font-size: 16px;">Nếu có bất kỳ câu hỏi hoặc yêu cầu nào khác, vui lòng liên
                                    hệ lại với chúng tôi.</p>
                                <p style="font-size: 16px;">Chúc bạn một ngày tốt lành!</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="padding-top: 20px; text-align: left; font-size: 16px;">Trân trọng,</div>
                            <div style="text-align: left; font-size: 16px;">Nice Job Team</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>